[submodule "compiler/rust-hidapi-sys"]
	path = compiler/lib/rust-hidapi-sys
	url = git@github.com:crides/rust-hidapi-sys.git
[submodule "compiler/lib/rust-hid"]
	path = compiler/lib/rust-hid
	url = git@github.com:crides/rust-hid.git
[submodule "compiler/lib/hidapi-1"]
	path = compiler/lib/hidapi-1
	url = git@github.com:crides/hidapi-1.git
[submodule "pcb/libs/choc"]
	path = pcb/libs/choc
	url = git@github.com:crides/choc.git
[submodule "pcb/libs/xiao"]
	path = pcb/libs/xiao
	url = git@github.com:crides/xiao
[submodule "pcb/libs/kleeb"]
	path = pcb/libs/kleeb
	url = git@github.com:crides/kleeb
[submodule "pcb/libs/keyboard_footprints"]
	path = pcb/libs/keyboard_footprints
	url = https://github.com/pierrechevalier83/keyboard_footprints
[submodule "pcb/libs/Keebio-Parts.pretty"]
	path = pcb/libs/Keebio-Parts.pretty
	url = https://github.com/crides/Keebio-Parts.pretty
